# debug folders
/coral/builtinNodes/debugDEBUG/
/coral/src/debugDEBUG/
/coral/pythonWrappers/debugDEBUG/
/coralUi/src/debugDEBUG/
/imath/debugDEBUG/
build/

# misc files
/coral/.sconsign.dblite
*~
/.project
/.pydevproject
/.sconsign.dblite
/.externalToolBuilders/coraline_build.launch

# Compiled Object files
*.slo
*.lo
*.o
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
